.app{
  background-color: #f5f5f5;
  scroll-behavior: smooth;
  
}

/* Chrome, Safari, Edge, Opera */
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input::-webkit-outer-spin-button,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}


.css-1tq4umm-MuiFormLabel-root-MuiInputLabel-root {
  color: #333;
  font-weight: 500;
}

/* Firefox */
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input[type=number] {
  -moz-appearance: textfield; 
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

p.error {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: 'Inter';
  font-size: 13px;
  color: red;
  margin-bottom: -10px;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
